<div class="row">
  <div class="col-lg-10 col-lg-offset-1" ng-show="entregasProg">
    <h3>Entregas programadas</h3><br>
      <table class="table table-hover tablaEntregas">
        <thead>
          <tr>
            <th class= "centro col-sm-1">item</th>
            <!-- <th class= "centro" ng-repeat = "semana in semanas">{{semana}}</th> -->
            <th class= "centro col-sm-1">esta semana</th>
            <th class= "centro col-sm-1">+ 1 sem</th>
            <th class= "centro col-sm-1">+ 2 sem</th>
            <th class= "centro col-sm-1">+ 3 sem</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | orderBy:'toString()'">
            <td class="col-sm-1">{{item}}</td>
            <td class= "centro col-sm-1" ng-repeat = "sem in semanas">{{datos[item][sem]| number:0}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1" ng-show="enProceso">
    <h3>Producto en proceso</h3>
    <table class="table table-hover tablaEntregas">
      <thead>
        <tr>
          <th ng-repeat="titulo in dataEnProceso[0]">
            {{titulo}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="articulo in dataEnProceso.slice(1,dataEnProceso.length)">
          <td ng-repeat="dato in articulo">
            {{dato}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
